*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: radial-gradient(circle, #ece3b8, #d8c187, #c79e59, #b67a2f, #a65500);
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

html {
  scroll-behavior: smooth;
}